<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./img/favicon_icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">



    <title>FindBidyut | Home</title>
</head>

<body>
    <!-- navbar -->
    <nav class="nav" id="nav">
        <div class="nav__center">
            <!-- nav header -->
            <div class="nav__header">
                <img src="./img/logo-2.png" alt="nav logo" class="nav__logo">
                <button class="nav__btn" id="nav-btn">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <!-- nav links -->
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#hero" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#about" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="#services" class="nav__link">Services</a>
                </li>
                <li class="nav__item">
                    <a href="#projects" class="nav__link">Projects</a>
                </li>
                <li class="nav__item">
                    <a href="#contact" class="nav__link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- end of navbar -->
    <!-- sidebar -->
    <aside class="sidebar" id="sidebar">
        <div class="sidebar__center">
            <button class="sidebar__close-btn" id="sidebar__close-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <!-- nav links -->
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">Home</a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">About</a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">Projects</a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">Contact</a>
                </li>
            </ul>

            <!-- social icons -->
            <ul class="social-icons">
                <li class="social-icons__item">
                    <a href="#" class="social-icons__link"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="social-icons__item">
                    <a href="#" class="social-icons__link"><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li class="social-icons__item">
                    <a href="#" class="social-icons__link"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li class="social-icons__item">
                    <a href="#" class="social-icons__link"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>

        </div>
    </aside>
    <!-- end of sidebar -->

    <!-- header -->
    <header class="hero" id="hero">
        <div class="section-center hero__center">
            <article class="hero__info">
                <div class="underline"></div>
                <h1>I'm Bidyut</h1>
                <h4>Freelance web & mobile UI/UX Developer</h4>
                <a href="#" class="btn hero__btn">hire me</a>
                <!-- social icons -->
                <ul class="social-icons hero__icons">
                    <li class="social-icons__item">
                        <a href="#" class="social-icons__link"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#" class="social-icons__link"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#" class="social-icons__link"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#" class="social-icons__link"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </article>
            <article class="hero__img">
                <img src="./img/bidyut.png" class="hero__photo" alt="Bidyut Deka">
            </article>
        </div>
    </header>
    <!-- end of header -->
    <!-- about -->
    <section class="section about" id="about">
        <!-- section title -->
        <div class="section-title">
            <h2>About</h2>
            <div class="underline"></div>
        </div>
        <!-- end of section title -->
        <div class="section-center about__center">
            <!-- about icons -->
            <div class="about__icons">
                <!-- single icon -->
                <div class="about__icon">
                    <div class="about__icon-box">
                        <i class="fa-solid fa-gauge"></i>
                    </div>

                    <h5>Fast</h5>
                    <p>Fast load times and lag free interaction, my highest priority.</p>
                </div>
                <!-- end of single icon -->
                <!-- single icon -->
                <div class="about__icon">
                    <div class="about__icon-box">
                        <i class="fa-solid fa-mobile"></i>
                    </div>
                    <h5>Responsive</h5>
                    <p>My layouts will work on any device, big or small.</p>
                </div>
                <!-- end of single icon -->
                <!-- single icon -->
                <div class="about__icon">
                    <div class="about__icon-box">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>

                    <h5>Intuitive</h5>
                    <p>Strong preference for easy to use, intuitive UX/UI.</p>
                </div>
                <!-- end of single icon -->
                <!-- single icon -->
                <div class="about__icon">
                    <div class="about__icon-box">
                        <i class="fa-solid fa-plane-departure"></i>
                    </div>

                    <h5>Dynamic</h5>
                    <p>Websites don't have to be static, I love making pages come to life.</p>
                </div>
                <!-- end of single icon -->
            </div>
            <!-- about image -->
            <article class="about__img">
                <img src="./img/about-img-2.jpg" class="about__photo" alt="bidyut deka">
                <h3>Who's this guy?</h3>
                <p>I'm a Fullstack Developer from Guwahati in Assam, India.
                    I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
                    Let's make something special.</p>

            </article>
            <!-- about skills -->
            <article class="about__info skills">
                <!-- single skill -->
                <div class="skill__container">
                    <p class="skill__name">
                        CSS
                    </p>
                    <div class="skill__value skill__value--90"></div>
                    <p class="skill__text ">90%</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="skill__container">
                    <p class="skill__name">
                        HTML
                    </p>
                    <div class="skill__value skill__value--90"></div>
                    <p class="skill__text ">90%</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="skill__container">
                    <p class="skill__name">
                        Javascript
                    </p>
                    <div class="skill__value skill__value--80"></div>
                    <p class="skill__text ">80%</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="skill__container">
                    <p class="skill__name">
                        React
                    </p>
                    <div class="skill__value skill__value--80"></div>
                    <p class="skill__text ">80%</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="skill__container">
                    <p class="skill__name">
                        Redux
                    </p>
                    <div class="skill__value skill__value--50"></div>
                    <p class="skill__text ">50%</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="skill__container">
                    <p class="skill__name">
                        Node.js
                    </p>
                    <div class="skill__value skill__value--70"></div>
                    <p class="skill__text ">70%</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="skill__container">
                    <p class="skill__name">
                        MySql
                    </p>
                    <div class="skill__value skill__value--65"></div>
                    <p class="skill__text ">65%</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="skill__container">
                    <p class="skill__name">
                        MongoDB
                    </p>
                    <div class="skill__value skill__value--50"></div>
                    <p class="skill__text ">50%</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="skill__container">
                    <p class="skill__name">
                        C
                    </p>
                    <div class="skill__value skill__value--60"></div>
                    <p class="skill__text ">60%</p>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="skill__container">
                    <p class="skill__name">
                        C++
                    </p>
                    <div class="skill__value skill__value--50"></div>
                    <p class="skill__text ">50%</p>
                </div>
                <!-- end of single skill -->
            </article>
        </div>
    </section>
    <!-- end of about -->

    <!-- Services  -->
    <section class="section services bg-grey" id="services">
        <!-- section title -->
        <div class="section-title">
            <h2>Services</h2>
            <div class="underline"></div>
        </div>
        <!-- end of section title -->
        <div class="section-center services__center">
            <!-- single service -->
            <article class="service">
                <!-- <i class="fa-solid fa-code service__icon"></i> -->
                <i class="fa-solid fa-globe service__icon"></i>
                <h4>Web Development</h4>
                <div class="underline"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis accusantium debitis unde modi
                    temporibus nostrum, voluptate voluptatem commodi est possimus.</p>
            </article>
            <!-- end of single service -->
            <!-- single service -->
            <article class="service">
                <!-- <i class="fa-brands fa-sketch service__icon"></i> -->
                <i class="fa-solid fa-filter-circle-dollar service__icon"></i>
                <h4>Sales Funnel</h4>
                <div class="underline"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis accusantium debitis unde modi
                    temporibus nostrum, voluptate voluptatem commodi est possimus.</p>
            </article>
            <!-- end of single service -->
            <!-- single service -->
            <article class="service">
                <i class="fa-brands fa-facebook service__icon"></i>
                <h4>Facebook Ads</h4>
                <div class="underline"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis accusantium debitis unde modi
                    temporibus nostrum, voluptate voluptatem commodi est possimus.</p>
            </article>
            <!-- end of single service -->

        </div>

    </section>
    <!-- end of Services  -->

    <!-- Projects -->
    <section class="section projects" id="projects">
        <!-- section title -->
        <div class="section-title">
            <h2>Latest Works</h2>
            <div class="underline"></div>
            <p class="projects__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatibus
                accusamus, atque cum
                numquam odio harum in aut soluta! Soluta eum deserunt, aut earum eius quas rem fugiat repudiandae
                placeat aliquid officia necessitatibus! Velit ut odit quibusdam laudantium officiis odio!</p>
        </div>
        <!-- end of section title -->

        <div class="section-center projects__center">
            <!-- single project -->
            <article class="project project--1">
                <img src="./img/project-1.png" class="project__img" alt="project 1">
                <div class="project__info">
                    <h4>areatappeal.in</h4>
                    <a href="#popup" onclick="popup(1)">Learn More</a>
                </div>
            </article>
            <!-- end of single project -->
            <!-- single project -->
            <article class="project project--2">
                <img src="./img/project-2.png" class="project__img" alt="project 2">
                <div class="project__info">
                    <h4>Dev Connector</h4>
                    <a href="#popup" onclick="popup(2)">Learn More</a>
                </div>
            </article>
            <!-- end of single project -->
            <!-- single project -->
            <article class="project project--3">
                <img src="./img/project-3.png" class="project__img" alt="project 3">
                <div class="project__info">
                    <h4>Natours</h4>
                    <a href="#popup" onclick="popup(3)">Learn More</a>
                </div>
            </article>
            <!-- end of single project -->
            <!-- single project -->
            <article class="project project--4">
                <img src="./img/project-4.png" class="project__img" alt="project 4">
                <div class="project__info">
                    <h4>Pig Game</h4>
                    <a href="#popup" onclick="popup(4)">Learn More</a>
                </div>
            </article>
            <!-- end of single project -->
        </div>
    </section>
    <!-- end of Projects -->

    <!-- Contact -->
    <section class="section contact bg-grey" id="contact">
        <!-- section title -->
        <div class="section-title">
            <h2>Contact</h2>
            <div class="underline"></div>
        </div>
        <!-- end of section title -->
        <div class="section-center contact__center">
            <div class="contact__info">
                <h4 class="u-mb-md">Contact info</h4>
                <ul class="contact__list">
                    <li class="contact__item">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <span>Kahilipara, Guwahati-19, Assam</span>
                    </li>
                    <li class="contact__item">
                        <i class="fa-solid fa-envelope"></i>
                        <span>findbidyut@gmail.com</span>
                    </li>
                    <li class="contact__item">
                        <i class="fa-solid fa-blender-phone"></i>
                        <span>+91 7002087427</span>
                    </li>
                    <li class="contact__item">
                        <i class="fa-solid fa-earth-europe"></i>
                        <span>www.findbidyut.in</span>
                    </li>
                </ul>

                <h4 class="u-mt-lg">Follow Me</h4>
                <!-- social icons -->
                <ul class="social-icons">
                    <li class="social-icons__item">
                        <a href="#" class="social-icons__link"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#" class="social-icons__link"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#" class="social-icons__link"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#" class="social-icons__link"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="contact__form">
                <form class="contact-form">
                    <div class="contact-form__group contact-form__group--name">
                        <label for="fullname" class="contact-form__label">name</label>
                        <input type="text" id="fullname" name="fullname" placeholder="Type your name"
                            class="contact-form__input" />
                    </div>
                    <div class="contact-form__group contact-form__group--email">
                        <label for="fullname" class="contact-form__label">email</label>
                        <input type="text" id="fullname" name="fullname" placeholder="Type your email"
                            class="contact-form__input" />
                    </div>
                    <div class="contact-form__group contact-form__group--phone">
                        <label for="fullname" class="contact-form__label">phone number</label>
                        <input type="text" id="fullname" name="fullname" placeholder="Type your phone number"
                            class="contact-form__input" />
                    </div>
                    <div class="contact-form__group contact-form__group--message">
                        <label for="fullname" class="contact-form__label">your message</label>
                        <textarea cols="30" rows="10" id="fullname" name="fullname" placeholder="Type your message"
                            class="contact-form__input"></textarea>
                    </div>

                    <button class="btn contact-form__btn">
                        Send message
                    </button>
                </form>
            </div>
        </div>
    </section>
    <!-- end of Contact -->

    <!-- footer -->
    <footer class="footer">
        <h2 class="footer__heading u-mb-md">Bidyut Deka</h2>
        <p class="footer__text u-mb-lg">
            This website is made by Bidyut to showcase his work to his potential
            clients. To build this landing page HTML , CSS and Javascript, React and Node.js is
            used.
        </p>

        <!-- social icons -->
        <ul class="social-icons">
            <li class="social-icons__item">
                <a href="#" class="social-icons__link"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li class="social-icons__item">
                <a href="#" class="social-icons__link"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li class="social-icons__item">
                <a href="#" class="social-icons__link"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="social-icons__item">
                <a href="#" class="social-icons__link"><i class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>

        <div class="footer__copyright">
            Copyright &copy; 2022 <span>Bidyut Deka</span>
        </div>
    </footer>
    <!-- end of footer -->

    <!-- popup -->
    <div class="popup" id="popup">
        <div class="popup__content">
            <div class="popup__image-box">
                <img src="./img/portfolio-img-2.png" alt="popup image" class="popup__image" />
            </div>
            <div class="popup__detail">
                <h2 class="popup__heading--main">Alex Murphy</h2>
                <h3 class="popup__heading--sub">
                    Photography portfolio site
                </h3>
                <p class="popup__text">
                    This landing page is built using HTML and CSS. The
                    layout is made using CSS floats and the small itms like
                    navigation is made using flex box.
                </p>

                <a href="#" target="_blank" class="btn btn--md btn--yellow u-mr-sm" id="site-link">Visit site</a>
                <a href="#" target="_blank" class="btn btn--md btn--transparent" id="github-repo">Git Repo</a>
                <a href="#section-portfolio" class="popup__close">&times;</a>
            </div>
        </div>
    </div>
    <!-- end of popup -->

    <!-- js -->
    <script src="./js/app.js"></script>
</body>

</html>